/* pages/secret/secret.wxss */
.secret-container {
  background-color: #d4105b;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .goback {
    position: absolute;
    left: 40rpx;
    top: 85rpx;
    image {
      height: 70rpx;
      width: 70rpx;
    }
  }
  .go-d {
    width: 700rpx;
    height: 700rpx;
    background-color: #db597c;
    .go-c {
      width: 540rpx;
      height: 540rpx;
      background-color: #e08aa6;
      .go-b {
        width: 380rpx;
        height: 380rpx;
        background-color: #eca7bd;
        .go-a {
          width: 220rpx;
          height: 220rpx;
          background-color: #c7104d;
          box-shadow: 0 0 2rpx 15rpx #e08aa6;
          text {
            font-size: 100rpx;
            font-weight: bolder;
            color: #fff;
          }
        }
        .go-left {
          position: absolute;
          width: 220rpx;
          height: 220rpx;
          background-color: #c7104d;
          left: 10rpx;
          text {
            font-size: 60rpx;
            font-weight: 500;
          }
        }
        .go-right {
          position: absolute;
          width: 220rpx;
          height: 220rpx;
          background-color: #c7104d;
          right: 10rpx;
          text {
            font-size: 60rpx;
            font-weight: 500;
          }
        }
      }
    }
  }
  
}

.go-wrap {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}